<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
							 http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
		 version="2.5">

	<!-- Servlets -->

	<!-- Main service -->
	<servlet>
		<servlet-name>mainService</servlet-name>
		<servlet-class>com.obductiongame.translate.server.service.MainServiceImpl</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>mainService</servlet-name>
		<url-pattern>/main/service</url-pattern>
	</servlet-mapping>

	<!-- Request factory -->
	<servlet>
		<servlet-name>requestFactory</servlet-name>
		<servlet-class>com.obductiongame.translate.server.CustomRequestFactoryServlet</servlet-class>
		<init-param> 
			<param-name>symbolMapsDirectory</param-name>
			<param-value>WEB-INF/deploy/main/symbolMaps/</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>requestFactory</servlet-name>
		<url-pattern>/gwtRequest</url-pattern>
	</servlet-mapping>

	<!-- XSRF protection service -->
	<servlet>
		<servlet-name>xsrf</servlet-name>
		<servlet-class>com.google.gwt.user.server.rpc.XsrfTokenServiceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>xsrf</servlet-name>
		<url-pattern>/main/xsrf</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>gwt.xsrf.session_cookie_name</param-name>
		<param-value>JSESSIONID</param-value>
	</context-param>

	<!-- GWT logging service -->
	<servlet>
		<servlet-name>remoteLogging</servlet-name>
		<servlet-class>com.obductiongame.translate.server.CustomRemoteLoggingService</servlet-class>

		 <init-param>
			<param-name>symbolMapsDirectory</param-name>
			<param-value>WEB-INF/deploy/main/symbolMaps/</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>remoteLogging</servlet-name>
		<url-pattern>/main/remote_logging</url-pattern>
	</servlet-mapping>

	<!--  CSP reporting service -->
	<servlet>
		<servlet-name>cspReport</servlet-name>
		<servlet-class>com.obductiongame.translate.server.CspReportServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>cspReport</servlet-name>
		<url-pattern>/cspReport</url-pattern>
	</servlet-mapping>

	<!--  Character set and header filter -->
	<filter>
		<filter-name>customFilter</filter-name>
		<filter-class>com.obductiongame.translate.server.CustomFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>customFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Security constraints -->
	<!-- <security-constraint>
		<web-resource-collection>
			<web-resource-name>everything</web-resource-name>
			<url-pattern>/*</url-pattern>
		</web-resource-collection>
		<user-data-constraint>
			<transport-guarantee>CONFIDENTIAL</transport-guarantee>
		</user-data-constraint>
	</security-constraint> -->

	<!-- MIME types -->
	<mime-mapping>
		<extension>html</extension>
		<!-- <mime-type>text/html; charset=UTF-8</mime-type> -->
		<mime-type>text/html</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>css</extension>
		<!-- <mime-type>text/css; charset=UTF-8</mime-type> -->
		<mime-type>text/css</mime-type>
	</mime-mapping>

	<mime-mapping>
		<extension>js</extension>
		<!-- <mime-type>application/javascript; charset=UTF-8</mime-type> -->
		<mime-type>application/javascript</mime-type>
	</mime-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
